{% extends 'layout.html' %}
  
{% block title %}Profile{% endblock %}
  
{% block content %}
<style>
    body {
        font-family: sans-serif;
        background-image: url("/static/images/31.jpg");
        max-width: 100%;
        height: 600px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white
    }
</style>

<h1>Profile Page</h1>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Name:</td>
            <td>{{ account['fullname'] }}</td>
        </tr>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}
